.logo-container {
  z-index: 0;
  width: 400px;
  height: 609px;
  position: absolute;
  top: 20%;
  right: 20%;
  bottom: 0;
  left: auto;
  margin: auto;

  .solid-logo {
    z-index: 2;
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    top: 3%;
    left: 3%;
    width: 120%;
    animation: ease-in 1s;
  }

  .blur-logo {
    z-index: 1;
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    top: 3%;
    left: 3%;
    width: 120%;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
  }
}