.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  h1 {
    color: #fff;
    font-size: 56px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;

    &::before {
      content: '<h1>';
      color: #ffd700;
      font-family: 'La Belle Aurore';
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      opacity: 0.6;
    }

    &::after {
      content: '</h1>';
      color: #ffd700;
      font-family: 'La Belle Aurore';
      font-size: 18px;
      position: absolute;
      opacity: 0.6;
      margin-top: 45px;
      margin-left: 30px;
      animation: fadeIn 1s 1.7s backwards;
    }

    img {
      width: 55px;
      margin-left: 20px;
      opacity: 0;
      height: auto;
      animation: rotateIn 0.3s 1.5s linear both;
    }
  }

  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .button-container {
    position: absolute;
    width: 100%;
    .flat-button {
      color: #ffd700;
      font-size: 13px;
      font-family: sans-serif;
      font-weight: 400;
      letter-spacing: 4px;
      text-decoration: none;
      padding: 10px 18px;
      border: 1px solid #ffd700;
      margin-top: 25px;
      float: left;
      animation: fadeIn 1s 1.8s backwards;
      white-space: nowrap;
      margin-right: 40px;

      &:last-of-type {
        margin-right: 0;
      }

      &:hover {
        background: #ffd700;
        color: #333;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .home-page {
    .logo-container {
      position: absolute;
      box-sizing: border-box;
      width: 300px;

      .solid-logo,
      .blur-logo {
        top: 12%;
      }

      svg {
        width: 125%;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .tags,
  .home-page h1:before,
  .home-page h1:after {
    display: none;
  }

  .home-page {
    .text-zone {
      position: initial;
      width: 100%;
      transform: none;
      padding: 10px;
      box-sizing: border-box;
    }

    .flat-button {
      display: block;
      width: auto;
    }

    button h1 {
      font-size: 380%;
      line-height: 53px;
    }

    .logo-container {
      position: relative;
      box-sizing: border-box;
      width: 250px;
      top: 0;
      height: auto;
      right: 20%;

      .solid-logo,
      .blur-logo {
        top: 25%;
        margin-left: 10%;
      }

      svg {
        width: 125%;
        height: auto;
        margin-top: 40%;
        margin-left: 10%;
      }
    }
  }
}
